{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    PAYMENT DETAILS
                </div>
                <div class="card-body">
                    <p>Select your payment detail.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="card mb-5">
                <div class="card-body">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}