{% extends 'base.html' %}
{% load static %}

{% block head %}
<style>
  .howitworks {
    padding-left: 15px;
    padding-right: 15px;
  }
  .howitworks .span-title {
    margin-top: 20px;
    font-weight: 900;
    font-size: 20px;
  }
  .howitworks .span-shipngo {
    width: 85%;
    margin-left: 20px;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 500;
  }
  .subtitle {
    font-size: 32px;
    font-weight: 600;
    letter-spacing: .02rem;
  }
  .quotationmarks {
      padding-left: 15px;
      padding-right: 15px;
  }
  .quotationmarks .title-quotationmarks {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    margin-top: 15px;
  }
  .quotationmarks .span-quotationmarks-where {
    margin-bottom: 60px;
  }
  .quotationmarks img {
    width: 25%;
    position: absolute;
    left: 38%;
    top: 9%;
  }
  .quotationmarks .span-quotationmarks-time {
    color: #e6b152;
    font-weight: 700;
  }
  .carousel-item.active {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    filter: brightness(0%); /* Make the arrows darker */
  }
</style>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <section id="header">
      <div class="container mt-5">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="header-content-left">
              <img src="./static/img/online-shopping-order-delivery-shipngo.svg" style="width: 100%;">
            </div>
          </div>
          <div class="col-md-6 col-sm-6">
            <div class="header-content-right">
              <h1 class="mt-5 mb-5" style="font-size: 64px; font-weight: 800;">Welcome to ShipnGo!</h1>
              <p class="mt-5">Your home delivery freight app, designed to simplify your shipments and provide you with comfort and efficiency in every delivery. Our goal is to offer you a reliable and secure service, connecting you with professional carriers who will quickly and safely transport your products to their destination. Explore our platform and discover how ShipnGo can make your shipments easier!</p>
              <a href="/sign-up/?next=/customer" class="btn btn-outline-danger header-btn btn-lg mt-2">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="mt-3 mb-3 subtitle">How does ShipnGo work?</h3>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 text-center howitworks">
          <img src="./static/img/red-avatar-shipngo.svg" height="200px" class="mb-3">
          <h3 class="span-title">Create a job</h3>
          <h6 class="span-shipngo">Visit shipngopty.com and request a freight shipping.</h6>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 text-center howitworks">
          <img src="./static/img/deliveryman2-shipngo.svg" height="200px" class="mb-3">
          <h3 class="span-title">Process</h3>
          <h6 class="span-shipngo">Your request is created and a courier will accept and come to pick up.</h6>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 text-center howitworks">
          <img src="./static/img/map-shipngo.svg" height="200px" class="mb-3">
          <h3 class="span-title">Tracking</h3>
          <h6 class="span-shipngo">You can track the courier's location in real-time.</h6>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0 text-center howitworks">
          <img src="./static/img/delivery-truck-shipngo.svg" height="200px" class="mb-3">
          <h3 class="span-title">Delivery</h3>
          <h6 class="span-shipngo">The Courier deliver and complete the job to your final destination.</h6>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center mb-3">CUSTOMER</h5>
          <p class="card-text">As a customer using our delivery app, you can enjoy the convenience of having your items delivered directly to your doorstep. <br>
            Simply place an order, specify the pickup and delivery locations, and let our reliable couriers take care of the rest. <br>
            Track your package in real-time, receive notifications, and have peace of mind knowing that your items are in good hands. <br>
            Whether it's groceries, online shopping, or important documents, our app ensures a seamless and hassle-free delivery experience for all your needs.</p>
          <a href="{% url 'customer:home' %}" class="btn btn-dark" style="background-color: #660500">Details</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-center mb-3">CARRIER</h5>
          <p class="card-text">Join our delivery app as a courier and unlock a world of earning opportunities with flexibility.<br>
            As a courier, you can choose your own working hours and accept delivery requests that fit your schedule.<br>
            Earn money while making the most of your free time and exploring your city. Our app provides you with all the necessary tools to efficiently manage your deliveries, including route optimization and real-time tracking.<br>
            Join our network of couriers and become a vital part of our reliable and efficient delivery service, bringing smiles to the faces of our customers with every package you deliver.</p>
          <a href="{% url 'courier:home' %}" class="btn btn-dark" style="background-color: #660500">Details</a>
        </div>
      </div>
    </div>

    <div class="container mt-5 mb-5">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <div class="col-md-12 col-sm-12">
            <h3 class="mt-3 mb-3 subtitle">Reviews from our customers</h3>
          </div>
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="col-md-6 col-sm-12 text-center quotationmarks">
                  <h5 class="title-quotationmarks">SOFÍA BROWN</h5>
                  <h6 class="span-quotationmarks span-quotationmarks-where">From Gualaca</h6>
                  <img src="./static/img/stars-shipngo.svg">
                  <h6 class="span-quotationmarks">I have already moved twice with them and everything was great! The service is very easy and transparent when it comes to quoting. Both teams that I had were very careful with the furniture, they had all the necessary tools to carry out the move.</h6>
                  <h6 class="span-quotationmarks span-quotationmarks-time">3 months ago</h6>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-6 col-sm-12 text-center quotationmarks mt-resp">
                  <h5 class="title-quotationmarks">ALEJANDRO GÓMEZ</h5>
                  <h6 class="span-quotationmarks span-quotationmarks-where">From Boquete</h6>
                  <img src="./static/img/stars-shipngo.svg">
                  <h6 class="span-quotationmarks">Excellent service! We moved on 4/4 from David to Boquete, with a stop in between, with Cesar and the team, and they were very professional. They protected all our things, were punctual, careful, friendly, and willing. Highly recommended.</h6>
                  <h6 class="span-quotationmarks span-quotationmarks-time">1 month ago</h6>
                </div>
              </div>
              <div class="carousel-item">
                <div class="col-md-6 col-sm-12 text-center quotationmarks mt-resp">
                  <h5 class="title-quotationmarks">MARCELA BONAGAS</h5>
                  <h6 class="span-quotationmarks span-quotationmarks-where">From David</h6>
                  <img src="./static/img/stars-shipngo.svg">
                  <h6 class="span-quotationmarks">Very good service and attention. Fast and careful, they arranged the furniture in the desired place, the courier Dario and his team did an excellent moving job to David. The entire ShipnGo team and their couriers are 100% recommended. Thank you!</h6>
                  <h6 class="span-quotationmarks span-quotationmarks-time">2 months ago</h6>
                </div>
              </div>
            </div>

            <!-- Carousel controls -->
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
