{% extends 'base.html'%}
{% load bootstrap4 %}

{% block content %}

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center text-uppercase mb-3">
                        <b>
                            {% if request.GET.next != '/courier' %}
                            Cliente
                            {% else %}
                            Acarreador
                            {% endif %}
                        </b>
                    </h4>
                    <form method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-block btn-dark" style="background-color: #660500;">Sign Up</button>
                        <p class="text-center mt-3">
                            Aldready have an account? <a href="/sign-in/?next={{ request.GET.next }}">Sign In</a>
                        </p>
                        <hr>
                        <a href="{% url 'social:begin' 'facebook' %}?next={{ request.GET.next }}" class="btn btn-outline-primary btn-block">Sign In with Facebook</a>
                        <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.GET.next }}" class="btn btn-outline-success btn-block">Sign In with Google</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}